// keyframes
@keyframes logo {
  91% {
    filter: invert(0%);
  }

  100% {
    filter: invert(100%);
  }
}

@keyframes menu-icon {
  3% {
    filter: invert(100%);
  }

  100% {
    filter: invert(100%);
  }
}

@keyframes cross1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    bottom: 0;
  }

  100% {
    transform: rotate(45deg);
    bottom: 0;
  }
}

@keyframes cross2 {
  0% {
    width: pxToRem(30);
  }

  100% {
    width: 0;
  }
}

@keyframes cross3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    top: 0;
  }

  100% {
    transform: rotate(-45deg);
    top: 0;
  }
}
// keyframes reverse
@keyframes logo-reverse {
  0% {
    filter: invert(0%);
  }

  4% {
    filter: invert(100%);
  }
}

@keyframes menu-icon-reverse {
  0% {
    filter: invert(100%);
  }

  82% {
    filter: invert(100%);
  }

  100% {
    filter: invert(0%);
  }
}

@keyframes cross1-reverse {
  0% {
    transform: rotate(45deg);
    bottom: 0;
  }

  50% {
    bottom: 0;
  }

  100% {
    bottom: pxToRem(6);
  }
}

@keyframes cross2-reverse {
  0% {
    width: 0;
  }

  100% {
    width: pxToRem(30);
  }
}

@keyframes cross3-reverse {
  0% {
    transform: rotate(-45deg);
    top: 0;
  }

  50% {
    top: 0;
  }

  100% {
    top: pxToRem(6);
  }
}
