// keyframes
@keyframes logo__image {
  91% {
    filter: invert(0%);
  }

  100% {
    filter: invert(100%);
  }
}

@keyframes icon__hamburger {
  3% {
    filter: invert(100%);
  }

  100% {
    filter: invert(100%);
  }
}

@keyframes cross1 {
  0% {
    bottom: pxToRem(6);
  }

  50% {
    bottom: 0;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(45deg);
  }
}

@keyframes cross2 {
  50% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes cross3 {
  0% {
    top: pxToRem(6);
  }

  50% {
    top: 0;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(-45deg);
  }
}
// keyframes reverse
@keyframes logo__image-reverse {
  0% {
    filter: invert(0%);
  }

  4% {
    filter: invert(100%);
  }
}

@keyframes icon__hamburger-reverse {
  0% {
    filter: invert(100%);
  }

  82% {
    filter: invert(100%);
  }

  100% {
    filter: invert(0%);
  }
}

@keyframes cross1-reverse {
  0% {
    bottom: 0;
    transform: rotate(45deg);
  }

  50% {
    bottom: 0;
    transform: rotate(0deg);
  }

  100% {
    bottom: pxToRem(6);
  }
}

@keyframes cross2-reverse {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: var(--color-grey-900);
  }
}

@keyframes cross3-reverse {
  0% {
    top: 0;
    transform: rotate(-45deg);
  }

  50% {
    top: 0;
    transform: rotate(0deg);
  }

  100% {
    top: pxToRem(6);
  }
}
// keyframes dark-theme
@include dark-theme {
  @keyframes logo__image {
    100% {
      filter: invert(100%);
    }
  }

  @keyframes icon__hamburger {
    100% {
      filter: invert(0);
    }
  }

  @keyframes icon__hamburger-reverse {
    100% {
      filter: invert(0);
    }
  }
}

// hero picture
@keyframes bouncing {
  0%,
  100% {
    transform: translateY(-25px);
  }

  50% {
    transform: translateY(50px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 100%;
  }

  100% {
    opacity: 1;
    margin-top: 0%;
  }
}

@keyframes rocket {
  0%,
  100% {
    transform: translateX(-15px) translateY(15px);
  }

  50% {
    transform: translateX(15px) translateY(-15px);
  }
}

@keyframes dog {
  0%,
  100% {
    transform: rotate(30deg) translateY(-20px) translateX(50px);
  }

  50% {
    transform: rotate(-30deg) translateY(0px) translateX(0px);
  }
}

@keyframes present {
  0%,
  100% {
    transform: translateY(30px);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-360deg);
  }
}

@keyframes pig {
  0%,
  100% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }
}

@keyframes circle {
  0%,
  100% {
    transform: scale(100%);
  }

  50% {
    transform: scale(-100%);
  }
}
