* {
  box-sizing: border-box;

  *::before,
  *::after {
    box-sizing: border-box;
  }

  /*&:not(iframe) {
    transition: cubic-bezier(0.24, 0.64, 0.69, 1.04);
    transition-property: background, border, color, left, margin, padding, right, opacity;
  }*/
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: montserrat;
  overflow-x: hidden;
}

html {
  font-size: #{$base-size}px;
}

.body-container {
  padding-left: pxToRem(10);
  padding-right: pxToRem(10);
  padding-bottom: pxToRem(44);

  @include tablet {
    padding-left: pxToRem(19);
    padding-right: pxToRem(19);
    padding-bottom: pxToRem(82);
  }

  @include desktop {
    padding-left: pxToRem(85);
    padding-right: pxToRem(85);
    padding-bottom: pxToRem(95);
  }
}

.body-container_primary-color {
  background-color: $color-primary-main;
}

.body-container_max-width {
  padding-left: 0;
  padding-right: 0;

  @include desktop {
    padding-left: pxToRem(85);
    padding-right: pxToRem(85);
  }
}

.section-title {
  font-size: $typography-h4-font-size;
  font-weight: $typography-h5-font-weight;
  letter-spacing: $typography-letter-spacing;
  line-height: pxToRem(21);

  @include tablet {
    font-size: $typography-h3-font-size;
    line-height: pxToRem(29);
  }

  @include desktop {
    font-size: $typography-h2-font-size;
    line-height: pxToRem(44);
  }
}

.section-description {
  font-size: $typography-subtitle2-font-size;
  font-weight: $typography-h4-font-weight;
  letter-spacing: $typography-letter-spacing;
  line-height: pxToRem(24);

  @include tablet {
    font-size: $typography-h4-font-size;
    font-weight: $typography-h4-font-weight;
    line-height: pxToRem(28);
  }
}

.header-container {
  max-width: pxToRem(1175);
  padding: pxToRem(7) pxToRem(5) pxToRem(42) pxToRem(10);

  @include tablet {
    padding: pxToRem(18) pxToRem(22) pxToRem(18) pxToRem(22);
  }

  @include desktop-extra {
    padding: pxToRem(34) pxToRem(33) pxToRem(30) pxToRem(35);
    margin: 0 auto 0 auto;
  }
}

input[type="submit"]:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

label,
select {
  cursor: pointer;
}

label[for] {
  cursor: pointer;
}

abbr[title],
acronym[title],
dfn {
  cursor: help;
}

textarea {
  resize: vertical;
}

[disabled] {
  cursor: default;
}

[aria-disabled="true"] {
  cursor: default;
  pointer-events: none;
}

.no-js button[type="button"] {
  display: none;
}

sub,
sup {
  line-height: 0;
}

img {
  vertical-align: middle;
}

body {
  color: $color-grey-900;
  background-color: $color-common-white;
  overscroll-behavior: none;
}

::selection {
  color: $color-common-white;
  background: $color-secondary-dark;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  @include placeholder-color(rgba($color-grey-200, 30%));

  &.not-valid {
    border-color: $color-secondary-dark;
  }
}

select {
  -webkit-appearance: none;

  &:focus::-ms-value {
    color: $color-grey-900;
    background: $color-common-white;
  }
}

textarea {
  resize: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  letter-spacing: $typography-letter-spacing;

  &:not([href]) {
    cursor: pointer;
  }
}

p {
  margin: 0;
  letter-spacing: $typography-letter-spacing;

  @include tablet {
    letter-spacing: 0.04em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

input,
label,
select {
  cursor: pointer;
  margin: 0px;
}

button {
  font-family: montserrat;
  margin: 0px;
  color: $color-primary-main;
  background-color: transparent;
  border-color: $color-primary-main;
  border-width: pxToRem(1);
  font-size: $typography-button-font-size;
  font-weight: $typography-h3-font-weight;
  line-height: pxToRem(12);
  letter-spacing: $typography-letter-spacing;

  @include desktop {
    font-size: $typography-subtitle2-font-size;
    line-height: pxToRem(16);
  }

  &:hover {
    cursor: pointer;
    color: $color-common-white;
    background-color: $color-primary-main;
  }
}

.button-blue {
  background-color: $color-primary-main;
  color: $color-common-white;
}
