// Placeholder color
@mixin placeholder-color($color) {
  &:-moz-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &::-moz-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &:-ms-input-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &::-webkit-input-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }

  &:focus:-moz-placeholder {
    color: transparent !important;
  }
  &:focus::-moz-placeholder {
    color: transparent !important;
  }
  &:focus:-ms-input-placeholder {
    color: transparent !important;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent !important;
  }
}

// Media queries
// Default
@mixin desktop-extra-large() {
  @media (min-width: $desktop-extra-large) {
    @content;
  }
}

@mixin desktop-extra() {
  @media (min-width: $desktop-extra) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin mobile() {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin small-mobile() {
  @media (min-width: $small-mobile) {
    @content;
  }
}

//Dark/light theme
@mixin light-theme() {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin dark-theme() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// Custom mixins
@mixin max-mobile {
  @media (max-width: ($tablet - 1px)) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin medium-mobile() {
  @media (min-width: 450px) {
    @content;
  }
}
