// Placeholder color
@mixin placeholder-color($color) {
  &:-moz-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &::-moz-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &:-ms-input-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &::-webkit-input-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }

  &:focus:-moz-placeholder {
    color: transparent !important;
  }
  &:focus::-moz-placeholder {
    color: transparent !important;
  }
  &:focus:-ms-input-placeholder {
    color: transparent !important;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent !important;
  }
}

// Dark/light theme
@mixin light-theme() {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin dark-theme() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// Media queries

/* Default
If breakpoint is the biggest 
(from breakpoint to infinity) */
@mixin desktop-extra-large() {
  @media (min-width: $desktop-extra-large) {
    @content;
  }
}

@mixin desktop-extra {
  @media (min-width: $desktop-extra) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin small-mobile {
  @media (min-width: $small-mobile) {
    @content;
  }
}

/* Custom
If breakpoint is the smallest
(from 0 to breakpoint) */
@mixin max-small-mobile {
  @media (max-width: $max-small-mobile) {
    @content;
  }
}

@mixin max-mobile {
  @media (max-width: $max-mobile) {
    @content;
  }
}

@mixin max-tablet {
  @media (max-width: $max-tablet) {
    @content;
  }
}

@mixin max-desktop {
  @media (max-width: $max-desktop) {
    @content;
  }
}

@mixin max-desktop-extra {
  @media (max-width: $max-desktop-extra) {
    @content;
  }
}

/* If we have 2 breakpoints
(from point to point) */
@mixin minmax-mobile {
  @media (min-width: $mobile) and (max-width: $max-mobile) {
    @content;
  }
}

@mixin minmax-tablet {
  @media (min-width: $tablet) and (max-width: $max-tablet) {
    @content;
  }
}

@mixin minmax-desktop {
  @media (min-width: $desktop) and (max-width: $max-desktop) {
    @content;
  }
}

@mixin minmax-desktop-extra {
  @media (min-width: $desktop-extra) and (max-width: $max-desktop-extra) {
    @content;
  }
}

/* Other queries */
@mixin min-medium-mobile {
  @media (max-width: $min-medium-mobile) {
    @content;
  }
}

@mixin medium-mobile {
  @media (min-width: $medium-mobile) and (max-width: $max-mobile) {
    @content;
  }
}

@mixin tablet-max-desktop {
  @media (min-width: $tablet) and (max-width: $max-desktop) {
    @content;
  }
}

@mixin max-medium-mobile {
  @media (min-width: $medium-mobile) {
    @content;
  }
}
