// Colors
$color-primary-main: #5551f7;
$color-secondary-main: #ff5f68;
$color-secondary-dark: #ff5c66;
$color-common-white: #ffffff;
$color-grey-900: #1c1d28;
$color-grey-200: #e4e4e4;
$color-info-light: #f2fcff;

// Media queries
$desktop-extra: 1200px;
$desktop: 992px;
$tablet: 768px;
$mobile: 576px;

//
