$base-size: 16;

@function pxToRem($size, $postfix: rem) {
  //@return $size / $base-size * 1 + $postfix;
  @return $size + px;
}

// Colors
$color-primary-main: #5551f7;
$color-secondary-main: #c7173a;
$color-secondary-dark: #ff5c66;
$color-common-white: #ffffff;
$color-grey-900: #1c1d28;
$color-grey-200: #737373;
$color-info-light: #f2fcff;

// Dark theme colors
$color-dark-primary-main: #97a1ff;
$color-dark-secondary-main: #e45f66;
$color-dark-secondary-dark: #9c373d;
$color-dark-common-white: #1f1f1f;
$color-dark-grey-900: #ffffff;
$color-dark-grey-200: #6a6a6a;
$color-dark-info-light: #3b5158;
$color-dark-primary-blue: #2a287b;

:root {
  --color-primary-main: #{$color-primary-main};
  --color-secondary-main: #{$color-secondary-main};
  --color-secondary-dark: #{$color-secondary-dark};
  --color-common-white: #{$color-common-white};
  --color-grey-900: #{$color-grey-900};
  --color-grey-200: #{$color-grey-200};
  --color-info-light: #{$color-info-light};
}

@include dark-theme {
  :root {
    --color-primary-main: #{$color-dark-primary-main};
    --color-secondary-main: #{$color-dark-secondary-main};
    --color-secondary-dark: #{$color-dark-secondary-dark};
    --color-common-white: #{$color-dark-common-white};
    --color-grey-900: #{$color-dark-grey-900};
    --color-grey-200: #{$color-dark-grey-200};
    --color-info-light: #{$color-dark-info-light};
    --color-primary-blue: #{$color-dark-primary-blue};
  }
}

// Media queries
$desktop-extra-large: pxToRem(1536, em);
$desktop-extra: pxToRem(1200, em);
$desktop: pxToRem(992, em);
$tablet: pxToRem(768, em);
$mobile: pxToRem(576, em);
$medium-mobile: pxToRem(450, em);
$min-medium-mobile: pxToRem(449, em);
$small-mobile: pxToRem(320, em);

// Custom media queries
$max-small-mobile: pxToRem(575, em);
$max-mobile: pxToRem(767, em);
$max-tablet: pxToRem(991, em);
$max-desktop: pxToRem(1999, em);
$max-desktop-extra: pxToRem(1535, em);

// Font sizes, weights, etc.
$typography-font-size: pxToRem(15);
$typography-font-weight: 400;

$typography-letter-spacing: 0.03em;

// Line-height
$typography-h5-font-size: pxToRem(10);
$typography-h5-font-weight: 700;
$typography-h4-font-size: pxToRem(15);
$typography-h4-font-weight: 400;
$typography-h3-font-size: pxToRem(20);
$typography-h3-font-weight: 500;
$typography-h2-font-size: pxToRem(30);
$typography-h2-font-weight: 700;

$typography-subtitle1-font-size: pxToRem(10);
$typography-subtitle1-font-weight: 400;
$typography-subtitle2-font-size: pxToRem(13);
$typography-subtitle2-font-weight: 700;

$typography-button-font-size: pxToRem(10);
$typography-button-font-weight: 400;

$typography-caption-font-size: pxToRem(12);
$typography-caption-font-weight: 400;
