.benefits {
  @include max-mobile {
    padding-bottom: pxToRem(74);
  }

  @include minmax-tablet {
    padding-bottom: pxToRem(89);
  }

  @include desktop {
    padding-bottom: pxToRem(141);
  }

  @include print-landscape {
    padding-bottom: pxToRem(250);
  }

  &__title {
    @include max-mobile {
      margin-bottom: pxToRem(39);
    }

    @include tablet {
      margin-bottom: pxToRem(75);
    }
  }

  &__description {
    @include max-mobile {
      max-width: pxToRem(205);
    }

    @include tablet {
      max-width: pxToRem(223);
    }
  }

  &__list {
    display: flex;
    /*************************************/
    @include min-medium-mobile {
      flex-direction: column;
      justify-content: space-between;
      row-gap: pxToRem(50);
    }

    @include medium-mobile {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      column-gap: pxToRem(96);
      padding: 0 pxToRem(52);
    }

    @include max-medium-mobile {
      row-gap: pxToRem(62);
      justify-content: center;
    }

    @include tablet-max-desktop {
      flex-wrap: wrap;
      column-gap: pxToRem(35);
    }
    /*************************************/

    &__item {
      display: flex;
      flex-direction: column;
      gap: pxToRem(25);

      &-picture {
        @include max-mobile {
          margin-bottom: pxToRem(20);
        }

        @include tablet {
          margin-bottom: pxToRem(25);
        }
      }
    }
  }
}

.image-wrapper {
  height: pxToRem(54);
}
