.development {
  margin-top: pxToRem(71);

  &-title {
    font-size: $typography-subtitle2-font-size;
    font-weight: $typography-h5-font-weight;
    letter-spacing: $typography-letter-spacing;
    line-height: pxToRem(19);

    @include tablet {
      font-size: $typography-h3-font-size;
      line-height: pxToRem(29);
      max-width: fit-content;
      padding-top: pxToRem(12);
    }

    @include desktop {
      font-size: $typography-h2-font-size;
      line-height: pxToRem(44);
      padding-top: pxToRem(25);
    }
  }

  &-phases {
    grid-gap: 3%;
    display: grid;
    grid-auto-columns: pxToRem(250);
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;

    @include tablet {
      grid-gap: 10%;
      grid-auto-columns: 26%;
    }

    @include desktop-extra {
      grid-gap: 6%;
      grid-auto-columns: 20%;
    }
    /*scroll with ability add another elements*/
    .development-phase {
      &-background {
        position: relative;
        left: pxToRem(79);
        content: "";
        width: pxToRem(85);
        height: pxToRem(85);
        background-color: $color-info-light;
        border-radius: 100%;

        @include desktop {
          width: pxToRem(113);
          height: pxToRem(113);
        }
      }

      &-number {
        position: relative;
        top: pxToRem(50);
        left: pxToRem(45);
        z-index: 1;
        font-size: pxToRem(50);
        font-weight: 900;
        line-height: 145%;
        letter-spacing: $typography-letter-spacing;
        color: transparent;
        -webkit-text-stroke: pxToRem(1) $color-primary-main;

        @include desktop {
          font-size: pxToRem(70);
          line-height: 145%;
        }
      }

      &-description {
        position: relative;
        left: pxToRem(45);
        bottom: pxToRem(27);
        max-width: pxToRem(220);
        font-size: $typography-subtitle2-font-size;
        font-weight: $typography-subtitle1-font-weight;
        letter-spacing: $typography-letter-spacing;
        line-height: pxToRem(24);

        @include tablet {
          font-size: $typography-h4-font-size;
          font-weight: $typography-h4-font-weight;
          letter-spacing: $typography-letter-spacing;
          line-height: pxToRem(28);
        }
      }
    }
  }

  /*&-slider {
    &-arrow {
      border: 1px solid $color-grey-200;
      border-radius: 100%;
      width: pxToRem(38);
      height: pxToRem(38);
    }

    &-indicator {
    }
  }*/
}
