.development {
  margin-top: pxToRem(71);

  .section-title {
    @include tablet {
      max-width: fit-content;
      padding-top: pxToRem(12);
    }

    @include desktop {
      padding-top: pxToRem(25);
    }
  }

  &-phases {
    grid-gap: 3%;
    display: grid;
    grid-auto-columns: pxToRem(250);
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;

    @include tablet {
      grid-gap: 10%;
      grid-auto-columns: 26%;
    }

    @include desktop-extra {
      grid-gap: 6%;
      grid-auto-columns: 20%;
    }
    /*scroll with ability add another elements*/
    .development-phase {
      &:nth-child(even) {
        padding-top: pxToRem(80);
      }

      &-background {
        position: relative;
        left: pxToRem(79);
        content: "";
        width: pxToRem(85);
        height: pxToRem(85);
        background-color: $color-info-light;
        border-radius: 100%;

        @include desktop {
          width: pxToRem(113);
          height: pxToRem(113);
        }
      }

      &-number {
        position: relative;
        top: pxToRem(50);
        left: pxToRem(45);
        z-index: 1;
        font-size: pxToRem(50);
        font-weight: 900;
        line-height: 145%;
        letter-spacing: $typography-letter-spacing;
        color: transparent;
        -webkit-text-stroke: pxToRem(1) $color-primary-main;

        @include desktop {
          font-size: pxToRem(70);
          line-height: 145%;
        }
      }

      .section-description {
        position: relative;
        left: pxToRem(45);
        bottom: pxToRem(27);
        max-width: pxToRem(220);
      }
    }
  }

  &-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: pxToRem(15);

    @include tablet {
      gap: pxToRem(26);
    }

    &-arrow {
      border: 1px solid $color-grey-200;
      border-radius: 100%;
      width: pxToRem(38);
      height: pxToRem(38);
    }

    .switch-arrow {
      content: "";
      width: 0;
      height: 0;
      border-left: solid transparent 5px;
      border-right: solid transparent 5px;
      border-bottom: solid $color-grey-900 9px;
      position: relative;
      top: pxToRem(13);
      left: pxToRem(13);
    }

    .left-arrow {
      transform: rotate(-90deg);
    }

    .right-arrow {
      transform: rotate(90deg);
    }

    &-indicator {
      background-image: linear-gradient(to right, $color-grey-200 50%, $color-grey-900 50%);
      width: 65%;
      height: pxToRem(1);
      display: block;

      @include tablet {
        width: 85%;
      }
    }
  }
}
