.discuss {
  @include light-theme {
    color: var(--color-common-white);
  }

  @include dark-theme {
    color: var(--color-grey-900);
  }

  &__wrapper {
    display: flex;

    @include max-mobile {
      gap: pxToRem(50);
      padding-left: pxToRem(15);
      padding-right: pxToRem(15);
    }

    @include minmax-tablet {
      gap: pxToRem(95);
      padding-left: pxToRem(122);
      padding-right: pxToRem(122);
    }

    @include max-desktop {
      flex-direction: column;
    }

    @include desktop-extra {
      gap: pxToRem(47);
      padding-left: pxToRem(0);
      padding-right: pxToRem(150);
      flex-direction: row;
      max-width: pxToRem(1280);
      margin: auto;
    }
  }

  &-head {
    display: flex;
    flex-direction: column;
    gap: pxToRem(20);

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include max-mobile {
        gap: pxToRem(20);
      }

      @include tablet {
        gap: pxToRem(24);
      }
    }

    &__contact {
      display: none;

      @include desktop-extra {
        display: block;
      }

      &-image {
        object-fit: contain;
      }
    }
  }

  &__description {
    text-align: center;

    @include max-mobile {
      max-width: pxToRem(225);
    }

    @include minmax-tablet {
      max-width: 100%;
    }

    @include desktop {
      max-width: pxToRem(255);
    }
  }
}

/*------------------------------------------------*/

.form {
  gap: 2.1875rem;
  display: flex;
  flex-direction: column;

  @include desktop {
    min-width: pxToRem(523);
  }

  & > :nth-last-child(2) {
    @include tablet {
      margin-bottom: pxToRem(30);
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      gap: pxToRem(7);
    }

    &-wrapper {
      display: flex;

      @include max-mobile {
        flex-direction: column;
        gap: pxToRem(35);
        justify-content: space-between;
      }

      @include tablet {
        flex-direction: row;
        gap: pxToRem(49);
        justify-content: start;

        &:last-child {
          gap: pxToRem(37);

          .form__field {
            width: auto;
            margin-bottom: 0;
            justify-content: center;
          }
        }
      }

      &:last-of-type {
        @include max-mobile {
          flex-direction: column-reverse;
        }

        @include tablet {
          flex-direction: row;
        }
      }
    }

    &-name {
      display: block;

      @include max-mobile {
        font-size: $typography-subtitle2-font-size;
      }

      @include tablet {
        font-size: $typography-h4-font-size;
      }
    }

    &-input {
      border-bottom: pxToRem(1) solid var(--color-common-white);
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      height: pxToRem(33);
      width: 100%;
      background-color: transparent;

      @include dark-theme {
        filter: invert(100%);
      }

      &::placeholder {
        vertical-align: middle;
        color: var(--color-common-white);
        opacity: 30%;

        @include max-mobile {
          font-size: $typography-h5-font-size;
        }

        @include tablet {
          font-size: $typography-caption-font-size;
        }
      }

      &:focus-visible {
        outline: none;
      }
    }

    &-checkbox {
      display: flex;
      height: 100%;
      align-items: center;
      position: relative;
      text-indent: pxToRem(31);
      font-size: $typography-h5-font-size;

      .checkmark {
        position: absolute;
        left: pxToRem(2);
        height: pxToRem(17);
        width: pxToRem(17);
        background-color: transparent;
        border: pxToRem(1) solid var(--color-common-white);

        @include dark-theme {
          filter: invert(100%);
        }

        &::after {
          content: "";
          position: absolute;
          display: none;
          width: pxToRem(4);
          height: pxToRem(8);
        }
      }

      .check {
        height: pxToRem(17);
        opacity: 0;
        position: absolute;
        width: pxToRem(17);
        left: 0;

        &:checked ~ .checkmark:after {
          display: block;
        }
      }
    }

    &-button {
      @include max-mobile {
        width: 100%;
        font-size: $typography-h5-font-size;
        font-weight: $typography-h3-font-weight;
      }

      @include tablet {
        width: pxToRem(171);
        font-size: $typography-subtitle2-font-size;
        font-weight: $typography-h3-font-weight;
      }

      @include light-theme {
        color: var(--color-common-white);
      }

      @include dark-theme {
        color: var(--color-grey-900);
      }
    }
  }
}

.checkmark:after {
  left: pxToRem(6);
  top: pxToRem(2);
  width: pxToRem(5);
  height: pxToRem(10);
  border-bottom: 1px solid var(--color-common-white);
  border-right: 1px solid var(--color-common-white);
  border-width: 0 pxToRem(1) pxToRem(1) 0;
  transform: rotate(45deg);
}
