.discuss {
  color: $color-common-white;

  .body-container {
    padding-top: pxToRem(66);
  }

  .section-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      margin-bottom: pxToRem(20);
    }

    .section-description {
      margin-bottom: pxToRem(50);
      max-width: pxToRem(225);
      text-align: center;

      @include tablet {
        max-width: 100%;
      }
    }
  }

  .form {
    &-field {
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: pxToRem(35);

      &:last-child {
        margin-bottom: pxToRem(0);
      }

      &-name {
        display: block;
        font-size: $typography-subtitle2-font-size;
      }

      &-input {
        border-color: transparent transparent $color-common-white transparent;
        border-bottom: 1px solid;
        width: 100%;
        height: pxToRem(33);

        &::placeholder {
          vertical-align: middle;
        }
      }

      &-button {
        width: 100%;
        color: $color-common-white;
        font-size: $typography-h5-font-size;
        font-weight: $typography-h3-font-weight;
      }

      &-agreement {
        display: flex;
        flex-direction: row;
        align-items: center;

        .checkbox {
          background-color: transparent;
          border: 1px solid $color-common-white;
          width: 17px;
          height: 17px;
        }

        .notice {
          font-size: $typography-h5-font-size;
          font-weight: $typography-h4-font-weight;
          padding-left: pxToRem(14);
        }
      }
    }
  }
}
