.hero {
  .body-container {
    padding-top: pxToRem(35);
    padding-bottom: pxToRem(79);

    @include tablet {
      padding-top: pxToRem(0);
      padding-bottom: pxToRem(36);
    }

    @include desktop {
      padding-top: pxToRem(25);
      padding-bottom: pxToRem(17);
    }
  }

  &-items {
    display: flex;
    align-items: flex-start;
  }

  &-info {
    @include tablet {
      width: 50%;
      margin-top: pxToRem(48);
    }

    @include desktop {
      padding-bottom: pxToRem(20);
    }

    .section-title {
      font-weight: $typography-h2-font-weight;
      max-width: pxToRem(162);

      @include tablet {
        max-width: pxToRem(217);
      }

      @include desktop {
        max-width: pxToRem(326);
      }
    }

    &-description__mobile {
      font-size: $typography-subtitle2-font-size;
      font-weight: $typography-h3-font-weight;
      margin-top: pxToRem(27);
      line-height: pxToRem(24);

      @include tablet {
        display: none;
      }
    }

    &-description__tablet {
      display: none;

      @include tablet {
        display: block;
        max-width: pxToRem(380);
        font-size: $typography-h4-font-size;
        font-weight: $typography-h3-font-weight;
        line-height: pxToRem(28);
        margin-top: pxToRem(33);
        letter-spacing: 0.03em;
      }
    }

    &-buttons {
      display: flex;
      gap: pxToRem(20);
      margin-top: pxToRem(25);

      @include tablet {
        margin-top: pxToRem(35);
      }

      @include desktop {
        margin-top: pxToRem(51);
      }

      .button-name {
        padding: pxToRem(10) pxToRem(18) pxToRem(10) pxToRem(19);
        vertical-align: middle;

        @include desktop {
          padding: pxToRem(12) pxToRem(26) pxToRem(12) pxToRem(26);
        }

        &:nth-child(2) {
          padding: 0 pxToRem(49) 0 pxToRem(49);

          @include desktop {
            padding: 0 pxToRem(65) 0 pxToRem(65);
          }
        }
      }
    }
  }

  &-picture {
    display: none;

    @include tablet {
      display: block;
      width: 50%;
    }

    @include desktop {
      bottom: pxToRem(19);
    }

    .hero-image {
      max-width: 100%;
    }
  }
}
