.hero {
  margin-bottom: pxToRem(68);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include tablet {
    margin-bottom: pxToRem(37);
  }

  @include desktop {
    margin-bottom: pxToRem(42);
  }

  &-info {
    padding-top: pxToRem(34);

    @include tablet {
      width: 50%;
      margin: auto;
      padding-top: 0;
      padding-bottom: pxToRem(12);
    }

    @include desktop {
      padding-bottom: pxToRem(20);
    }

    .section-title {
      font-weight: $typography-h2-font-weight;
    }

    &-description__mobile {
      font-size: $typography-subtitle2-font-size;
      font-weight: $typography-h3-font-weight;
      margin-top: pxToRem(25);
      line-height: pxToRem(24);

      @include tablet {
        display: none;
      }
    }

    &-description__tablet {
      display: none;

      @include tablet {
        display: block;
        font-size: $typography-h4-font-size;
        font-weight: $typography-h3-font-weight;
        line-height: pxToRem(28);
        margin-top: pxToRem(33);
      }

      @include desktop {
        margin-right: pxToRem(112);
      }
    }

    &-buttons {
      display: flex;
      flex-wrap: wrap;
      margin-top: pxToRem(25);
      flex-direction: row;
      justify-content: flex-start;

      @include tablet {
        margin-top: pxToRem(35);
      }

      @include desktop {
        margin-top: pxToRem(51);
      }

      .button-name {
        border-color: $color-primary-main;
        border-width: pxToRem(1);
        border-style: solid;
        text-align: center;
        background-color: $color-common-white;
        color: $color-primary-main;
        font-size: $typography-button-font-size;
        font-weight: $typography-button-font-weight;
        padding-top: pxToRem(10);
        padding-bottom: pxToRem(10);
        padding-left: pxToRem(20);
        padding-right: pxToRem(20);
        vertical-align: middle;
        margin-right: pxToRem(12);
        margin-bottom: pxToRem(10);

        @include desktop {
          font-size: $typography-subtitle2-font-size;
          padding-top: pxToRem(12);
          padding-bottom: pxToRem(12);
          padding-left: pxToRem(30);
          padding-right: pxToRem(30);
        }

        &:nth-child(2) {
          padding-left: pxToRem(49);
          padding-right: pxToRem(49);
          margin-right: pxToRem(0);

          @include desktop {
            padding-left: pxToRem(65);
            padding-right: pxToRem(65);
          }
        }

        &:hover {
          background-color: $color-primary-main;
          color: $color-common-white;
        }
      }
    }
  }

  &-picture {
    display: none;

    @include tablet {
      display: block;
      width: 50%;
    }

    @include desktop {
      bottom: pxToRem(19);
    }

    .hero-image {
      max-width: 100%;
    }
  }
}
