.hero {
  &-items {
    display: flex;
    align-items: flex-start;
  }

  &-info {
    @include tablet {
      width: 50%;
      margin-top: pxToRem(48);
    }

    @include desktop {
      padding-bottom: pxToRem(20);
    }

    .section-name {
      font-weight: $typography-h2-font-weight;
      max-width: pxToRem(163);
      margin-bottom: pxToRem(27);

      @include tablet {
        max-width: pxToRem(217);
        margin-bottom: pxToRem(33);
      }

      @include desktop {
        max-width: pxToRem(326);
      }
    }

    &-description__mobile {
      font-size: $typography-subtitle2-font-size;
      font-weight: $typography-h3-font-weight;
      line-height: pxToRem(24);
      margin-bottom: pxToRem(25);

      @include tablet {
        display: none;
      }
    }

    &-description__tablet {
      display: none;

      @include tablet {
        display: block;
        max-width: pxToRem(380);
        font-size: $typography-h4-font-size;
        font-weight: $typography-h3-font-weight;
        line-height: pxToRem(28);
        letter-spacing: 0.03em;
        margin-bottom: pxToRem(35);
      }

      @include desktop {
        margin-top: pxToRem(51);
      }
    }

    &-buttons {
      display: flex;
      gap: pxToRem(20);
    }
  }

  &-picture {
    display: none;

    @include tablet {
      display: block;
      width: 50%;
    }

    @include desktop {
      bottom: pxToRem(19);
    }

    .hero-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
