.info {
  .section-name {
    margin-bottom: pxToRem(30);

    @include tablet {
      margin-bottom: pxToRem(39);
    }

    @include desktop {
      margin-bottom: pxToRem(40);
    }
  }

  .section-description {
    display: block;
    max-width: 100%;

    @include desktop {
      margin-bottom: pxToRem(40);
      max-width: pxToRem(920);
    }
  }
}
