.portfolio {
  @include max-mobile {
    padding-bottom: pxToRem(66);
  }

  @include minmax-tablet {
    padding-bottom: pxToRem(96);
  }

  @include desktop {
    padding-bottom: pxToRem(100);
  }

  &__examples {
    display: grid;
    margin-left: auto;
    margin-right: auto;

    @include max-mobile {
      margin-bottom: pxToRem(40);
    }

    @include tablet-max-desktop {
      margin-bottom: pxToRem(53);
    }

    @include desktop-extra {
      max-width: pxToRem(1110);
      grid-column-gap: pxToRem(24);
      grid-row-gap: pxToRem(26);
      margin-bottom: pxToRem(80);
      grid-template-rows: pxToRem(560) pxToRem(497);
      grid-template-columns: pxToRem(613) pxToRem(473);
    }

    @include print-landscape {
      gap: pxToRem(55);
      margin-bottom: pxToRem(20);
    }

    &_example {
      width: 100%;
      min-height: pxToRem(235);
      height: 100%;
      object-fit: cover;

      &:nth-child(3n + 1) {
        @include desktop-extra {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }

      &:nth-child(3n + 2) {
        @include desktop-extra {
          grid-column: 1;
        }
      }

      &:nth-child(3n + 3) {
        @include desktop-extra {
          grid-column: 2;
        }
      }
    }
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
