.price {
  @include max-mobile {
    padding-bottom: pxToRem(105);
  }

  @include minmax-tablet {
    padding-bottom: pxToRem(84);
  }

  @include desktop {
    padding-bottom: pxToRem(136);
  }

  @include print-landscape {
    padding-bottom: pxToRem(250);
  }

  &__title {
    text-align: center;
    line-height: 2;

    @include max-mobile {
      margin-bottom: pxToRem(49);
    }

    @include minmax-tablet {
      margin-bottom: pxToRem(48);
    }

    @include desktop {
      margin-bottom: pxToRem(56);
    }

    @include print-landscape {
      margin-bottom: pxToRem(25);
    }
  }

  &__list {
    display: grid;
    max-width: pxToRem(300);

    @include max-mobile {
      border: 1px solid var(--color-grey-200);
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      border-top: 1px solid var(--color-grey-200);
      border-right: 1px solid var(--color-grey-200);
      border-bottom: none;
      border-left: none;
      min-width: 100%;
    }

    @include print-landscape {
      grid-row-gap: pxToRem(270);
      border-right: none;
      border-top: none;
    }

    @include print-portrait {
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
    }
  }

  &__button {
    margin-bottom: 0;
  }
}

.package {
  position: relative;
  border-bottom: pxToRem(1) solid var(--color-grey-200);
  min-height: pxToRem(424);
  min-width: pxToRem(244);

  @include max-mobile {
    &:active {
      padding: pxToRem(17) pxToRem(15) pxToRem(26) pxToRem(15);
    }
  }

  @include minmax-tablet {
    &:active {
      padding: pxToRem(17) pxToRem(13) pxToRem(24) pxToRem(15);
    }
  }

  @include tablet {
    border-left: pxToRem(1) solid var(--color-grey-200);
  }

  @include max-tablet {
    padding: pxToRem(19) pxToRem(17) pxToRem(28) pxToRem(17);
  }

  @include desktop {
    padding: pxToRem(34) pxToRem(33) pxToRem(44) pxToRem(33);

    &:active {
      padding: pxToRem(32) pxToRem(31) pxToRem(44) pxToRem(31);
    }
  }

  @include print-landscape {
    border-top: pxToRem(1) solid var(--color-grey-200);
  }

  &:last-child {
    min-height: auto;
    min-height: pxToRem(324);

    @include max-mobile {
      border-bottom: none;
    }

    @include tablet {
      border-bottom: pxToRem(1) solid var(--color-grey-200);
      grid-column-start: 2;
      grid-column-end: 4;
    }

    @include print-landscape {
      border-right: pxToRem(1) solid var(--color-grey-200);
    }

    @include print-portrait {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &:nth-child(3) {
    @include print-landscape {
      border-right: pxToRem(1) solid var(--color-grey-200);
    }
  }

  &:nth-child(n + 1) {
    @include print-portrait {
      border-left: pxToRem(1) solid var(--color-grey-200);
    }
  }

  &:active {
    border: pxToRem(2) solid var(--color-primary-main);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      border-left: pxToRem(9) solid var(--color-primary-main);
      border-right: pxToRem(9) solid var(--color-primary-main);
      border-bottom: pxToRem(9) solid var(--color-common-white);

      @include max-tablet {
        width: pxToRem(18);
        height: pxToRem(26);
        right: pxToRem(15);
      }

      @include desktop {
        width: pxToRem(28);
        height: pxToRem(44);
        border-width: pxToRem(14);
        right: pxToRem(32);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: pxToRem(1) solid var(--color-grey-200);

    @include max-tablet {
      margin-bottom: pxToRem(33);
      gap: pxToRem(16);
    }

    @include desktop {
      margin-bottom: pxToRem(45);
      gap: pxToRem(50);
    }

    &__title {
      font-weight: $typography-h2-font-weight;

      @include max-tablet {
        font-size: $typography-h5-font-size;
      }

      @include desktop {
        font-size: $typography-h4-font-size;
      }
    }

    &__purchase {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include max-tablet {
        gap: pxToRem(24);
      }

      @include desktop {
        gap: pxToRem(40);
      }
    }

    .price__button {
      display: block;

      @include max-tablet {
        margin-bottom: pxToRem(28);
      }

      @include desktop {
        margin-bottom: pxToRem(41);
      }
    }

    .cost {
      &__prefix {
        content: "от";
        font-weight: $typography-h2-font-weight;
        color: var(--color-grey-200);

        @include max-tablet {
          font-size: $typography-h5-font-size;
        }

        @include desktop {
          font-size: $typography-h4-font-size;
        }
      }

      &__value {
        font-weight: $typography-h2-font-weight;

        @include max-tablet {
          font-size: $typography-h3-font-size;
          margin-bottom: pxToRem(25);
          margin-right: pxToRem(15);
        }

        @include desktop {
          font-size: $typography-h2-font-size;
          margin-right: pxToRem(35);
          margin-bottom: pxToRem(44);
        }
      }
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;

    @include max-tablet {
      gap: pxToRem(16);
    }

    @include desktop {
      gap: pxToRem(18);
    }

    &-item {
      font-weight: $typography-h4-font-weight;

      @include max-tablet {
        font-size: $typography-h5-font-size;
        text-indent: pxToRem(20);
      }

      @include desktop {
        font-size: $typography-h4-font-size;
        text-indent: pxToRem(35);
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        border-left: 2px solid var(--color-secondary-main);
        border-bottom: 2px solid var(--color-secondary-main);
        transform: rotate(-45deg);

        @include max-tablet {
          width: pxToRem(10);
          height: pxToRem(6);
        }

        @include desktop {
          width: pxToRem(14);
          height: pxToRem(9);
        }
      }

      &-bold {
        font-weight: $typography-h2-font-weight;

        @include max-tablet {
          font-size: $typography-h5-font-size;
        }

        @include desktop {
          font-size: $typography-h4-font-size;
        }
      }
    }
  }
}

.dollars::before {
  content: "$";
}

.euros::before {
  content: "€";
}

.hryvnyas::before {
  content: "₴";
}

.cents::before {
  content: "¢";
}

.pounds::before {
  content: "£";
}

.yens::before {
  content: "¥";
}

.rubles::before {
  content: "₽";
}

/*-----------------------------*/
.package:last-of-type {
  .package__info {
    border-bottom: none;
    margin-bottom: 0;

    @include max-mobile {
      gap: pxToRem(68);
    }

    @include minmax-tablet {
      gap: pxToRem(148);
    }

    @include desktop {
      gap: pxToRem(197);
    }
  }

  .cost {
    margin-right: 0;

    &::before {
      display: none;
    }

    @include max-mobile {
      font-size: $typography-h4-font-size;
    }

    @include minmax-tablet {
      font-size: $typography-h3-font-size;
    }

    @include desktop {
      font-size: $typography-h2-font-size;
      margin-bottom: pxToRem(34);
      line-height: pxToRem(19);
    }
  }

  .discussion {
    @include max-mobile {
      font-size: $typography-h5-font-size;
      margin-bottom: pxToRem(23);
      max-width: pxToRem(177);
      line-height: pxToRem(17);
    }

    @include tablet {
      max-width: pxToRem(325);
      line-height: pxToRem(24);
    }

    @include minmax-tablet {
      font-size: $typography-subtitle2-font-size;
      margin-bottom: pxToRem(17);
    }

    @include desktop {
      font-size: $typography-h4-font-size;
      margin-bottom: pxToRem(55);
    }
  }
}
/*-----------------------------*/

html[dir="rtl"] {
  .package {
    &:active {
      &::after {
        left: pxToRem(15);
        right: unset;
      }
    }
  }
}
