.services {
  margin-top: pxToRem(45);
  padding-left: pxToRem(10);
  padding-right: pxToRem(10);
  background-color: $color-primary-main;
  color: $color-common-white;

  @include tablet {
    padding-left: pxToRem(19);
    padding-right: pxToRem(19);
    margin-top: pxToRem(77);
  }

  @include desktop {
    padding-left: pxToRem(85);
    padding-right: pxToRem(85);
    margin-top: pxToRem(93);
  }

  &-title {
    font-weight: $typography-h3-font-weight;
    font-size: $typography-h4-font-size;
    line-height: pxToRem(22);
    padding-top: pxToRem(45);
    margin-bottom: pxToRem(30);

    @include tablet {
      font-size: $typography-h3-font-size;
      line-height: pxToRem(29);
      padding-top: pxToRem(64);
    }

    @include desktop {
      font-size: $typography-h2-font-size;
      line-height: pxToRem(43);
      padding-top: pxToRem(80);
      margin-bottom: 0;
    }
  }

  &-description {
    font-weight: $typography-h4-font-weight;
    font-size: $typography-subtitle2-font-size;
    line-height: pxToRem(24);
    margin-bottom: pxToRem(29);

    @include tablet {
      font-size: $typography-h4-font-size;
      line-height: pxToRem(29);
      margin-bottom: pxToRem(74);
    }

    @include desktop {
      margin-top: pxToRem(35);
      margin-bottom: pxToRem(50);
      max-width: fit-content;
      padding-right: pxToRem(134);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: max-content;
    padding-bottom: pxToRem(45);
    grid-gap: pxToRem(15);

    @include tablet {
      grid-template-columns: 50% 50%;
      grid-gap: pxToRem(23);
    }

    @include desktop {
      grid-column-gap: pxToRem(103);
      grid-row-gap: pxToRem(23);
      grid-template-columns: pxToRem(250) pxToRem(250);
    }

    &-item {
      display: block;
      width: fit-content;
      font-weight: $typography-h3-font-weight;
      font-size: $typography-subtitle2-font-size;
      line-height: pxToRem(24);

      &::before {
        display: block;
        content: "";
        border: pxToRem(1) solid $color-common-white;
        width: pxToRem(24);
        float: left;
        margin-top: pxToRem(10);
        margin-right: pxToRem(22);
      }

      @include tablet {
        font-size: $typography-h4-font-size;
        line-height: pxToRem(29);
      }
    }
  }
}
