<% var data = { title: "Whales design", }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<div class="body__container">
  <%= _.template(require('./../includes/hero.html').default)(data) %> <%=
  _.template(require('./../includes/info.html').default)(data) %> <%=
  _.template(require('./../includes/services.html').default)(data) %> <%=
  _.template(require('./../includes/development.html').default)(data) %> <%=
  _.template(require('./../includes/portfolio.html').default)(data) %> <%=
  _.template(require('./../includes/price.html').default)(data) %> <%=
  _.template(require('./../includes/benefits.html').default)(data) %> <%=
  _.template(require('./../includes/discuss.html').default)(data) %> <%=
  _.template(require('./../includes/footer.html').default)(data) %>
</div>
