.footer {
  @include light-theme {
    color: var(--color-common-white);
  }

  @include dark-theme {
    color: var(--color-grey-900);
  }

  &__wrapper {
    display: grid;
    justify-content: space-between;

    @include max-mobile {
      margin-bottom: pxToRem(39);
    }

    @include minmax-tablet {
      margin-bottom: pxToRem(72);
    }

    @include desktop {
      grid-template-columns: pxToRem(200) pxToRem(679);
      grid-template-rows: pxToRem(84) pxToRem(100) 1fr;
      margin-bottom: pxToRem(73);
    }
  }

  &__logo {
    @include max-mobile {
      margin-bottom: pxToRem(31);
    }

    @include minmax-tablet {
      margin-bottom: pxToRem(80);
    }

    @include desktop {
      margin-bottom: pxToRem(32);
    }

    &-image {
      filter: invert(100%);

      @include tablet {
        width: pxToRem(65);
        height: auto;
      }

      @include print {
        filter: invert(0);
      }
    }
  }

  &__info {
    display: flex;

    @include max-mobile {
      flex-wrap: wrap;
      row-gap: pxToRem(45);
      column-gap: pxToRem(52);
      margin-bottom: pxToRem(57);
    }

    @include minmax-tablet {
      gap: pxToRem(88);
      margin-bottom: pxToRem(68);
    }

    @include desktop {
      flex-wrap: nowrap;
      gap: pxToRem(108);
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include max-mobile {
        row-gap: pxToRem(45);
      }

      @include minmax-tablet {
        gap: pxToRem(90);
        order: 1;
      }

      @include desktop {
        order: 2;
      }
    }
  }
}

.info-list {
  font-size: $typography-caption-font-size;
  font-weight: $typography-caption-font-weight;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: pxToRem(18);

  &-item {
    display: flex;
    flex-direction: column;
    gap: pxToRem(21);
  }

  &-phones {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: pxToRem(10);
  }
}

.briefs {
  @include minmax-tablet {
    order: 2;
  }

  @include desktop {
    order: 1;
  }
}

.contacts {
  @include tablet {
    order: 4;
  }

  & > .info-list {
    row-gap: pxToRem(22);
  }
}

.about {
  @include tablet {
    order: 3;
  }
}

.info-subtitle {
  font-size: $typography-h4-font-size;
  font-weight: $typography-h2-font-weight;
  margin-bottom: pxToRem(25);
}

.info-icons {
  display: flex;
  gap: pxToRem(21);

  &__icon {
    &:hover {
      cursor: pointer;
      filter: invert(47%) sepia(34%) saturate(2773%) hue-rotate(322deg) brightness(103%)
        contrast(103%);
    }
  }
}

.social {
  display: flex;
  gap: pxToRem(14);

  @include minmax-tablet {
    order: 2;
  }

  @include desktop {
    width: auto;
    height: fit-content;
    order: 1;
  }

  &-item {
    display: flex;
    justify-content: center;
    width: pxToRem(39);
    height: pxToRem(39);
    border-radius: 50%;
    border: 1px solid var(--color-common-white);

    &:hover {
      filter: invert(47%) sepia(34%) saturate(2773%) hue-rotate(322deg) brightness(103%)
        contrast(103%);
    }

    @include dark-theme {
      filter: invert(100%);
    }

    &__icon {
      width: pxToRem(13);
      height: auto;

      @include dark-theme {
        filter: invert(100%);
      }
    }
  }
}

.politics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: pxToRem(29);
  row-gap: pxToRem(19);

  @include max-mobile {
    justify-content: center;
  }

  @include tablet {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  &-item {
    color: var(--color-common-white);
    font-size: $typography-h5-font-size;

    @include light-theme {
      opacity: 50%;
    }

    @include dark-theme {
      filter: invert(100%);
      opacity: 100%;
    }
  }

  &-item-wrapper {
    display: flex;
    gap: pxToRem(29);
  }
}
