.header {
  display: flex;
  height: pxToRem(62);

  &-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;

    // logo
    &__logo {
      width: pxToRem(78);
      height: pxToRem(62);
      padding: pxToRem(10);
      position: relative;

      @include tablet {
        padding-top: pxToRem(30);
        padding-left: pxToRem(10);
        width: pxToRem(80);
        height: pxToRem(80);
      }

      .site-logo {
        height: pxToRem(32);
        position: relative;
        top: pxToRem(5);
      }
    }

    // menu
    &__menu {
      .menu-icon {
        position: absolute;
        height: pxToRem(62);
        width: pxToRem(60);
        right: pxToRem(0);
        top: pxToRem(0);
        padding-top: pxToRem(24);
        padding-bottom: pxToRem(20);
        padding-right: pxToRem(12);
        padding-left: pxToRem(20);

        @include tablet {
          display: none;
        }

        &__element {
          display: block;
          position: absolute;
          height: pxToRem(2);
          background-color: $color-grey-900;
          width: pxToRem(21);
          margin-left: pxToRem(9);

          &:first-child {
            margin-top: pxToRem(6);
            width: pxToRem(30);
            margin-left: pxToRem(0);
          }

          &:last-child {
            margin-top: pxToRem(12);
          }
        }
      }
      // submenu (dropmenu and sections)
      .submenu {
        visibility: hidden;
        display: flex;
        overflow-y: hidden;
        width: 100%;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;

        @include tablet {
          visibility: visible;
          height: pxToRem(114);
          padding-top: pxToRem(14);
          padding-right: pxToRem(22);
          padding-left: pxToRem(117);
        }

        &:target {
          visibility: visible;
        }

        &-sections {
          list-style-type: none;
          background-color: $color-primary-main;
          color: $color-common-white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          padding-top: pxToRem(68);
          width: 100%;

          @include tablet {
            flex-direction: row;
            align-items: flex-start;
            padding-top: 0;
            background-color: transparent;
            color: $color-grey-900;
          }
          // cross icon
          &__close {
            height: 2.875rem;
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
            padding-top: 0.9375rem;
            padding-bottom: 0.9375rem;
            position: absolute;
            right: 0.125rem;
            top: 0.375rem;
            width: 0.9375rem;

            @include tablet {
              display: none;
            }

            &::before,
            &::after {
              position: absolute;
              content: "";
              height: pxToRem(19);
              width: pxToRem(1);
              background-color: $color-common-white;
            }

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }
          }

          &__section {
            display: block;
            position: relative;
            padding-top: pxToRem(20);
            padding-bottom: pxToRem(20);
            width: 100%;
            text-align: center;

            @include tablet {
              width: max-content;
            }

            .section-name {
              padding-top: pxToRem(20);
              padding-bottom: pxToRem(20);
              font-size: $typography-h4-font-size;
              font-weight: $typography-h3-font-weight;

              @include tablet {
                font-size: $typography-h5-font-size;
              }
            }
          }

          &__phone {
            display: none;

            @include tablet {
              display: block;
              font-size: $typography-h5-font-size;
              font-weight: $typography-h3-font-weight;
            }
          }

          &__button {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: $color-secondary-main;
            color: $color-common-white;
            font-weight: $typography-h3-font-weight;

            @include tablet {
              background-color: $color-primary-main;
              font-size: $typography-h5-font-size;
              width: fit-content;
            }

            .section-name {
              display: block;
              padding-top: pxToRem(20);
              padding-bottom: pxToRem(20);
            }
          }
        }
      }
    }
  }
}
