.header {
  background-color: var(--color-common-white);
  width: 100%;

  @include max-mobile {
    padding-top: pxToRem(7);
    padding-bottom: pxToRem(44);
  }

  @include minmax-tablet {
    padding-top: pxToRem(20);
    padding-bottom: pxToRem(46);
  }

  @include desktop {
    padding-top: pxToRem(30);
    padding-bottom: pxToRem(30);
  }

  @include print-portrait {
    padding-bottom: pxToRem(15);
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    @include max-mobile {
      animation-name: fade;
      animation-duration: 0.8s;
      animation-timing-function: linear;
    }

    @include minmax-tablet {
      gap: pxToRem(35);
    }

    @include desktop {
      gap: pxToRem(82);
    }
  }
}

// logo
.logo {
  z-index: 3;

  &__image {
    z-index: 2;
    position: relative;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: linear;

    @include desktop {
      width: pxToRem(65);
    }

    @include dark-theme {
      filter: invert(100%);
    }
  }
}

.icon {
  width: pxToRem(47);
  height: pxToRem(47);
  position: relative;
  top: pxToRem(7);
  z-index: 3;

  @include tablet {
    display: none;
  }

  &__close-link {
    z-index: 0;
    height: pxToRem(45);
    width: pxToRem(45);
    position: absolute;
    right: 0;

    @include tablet {
      display: none;
    }
  }

  &__hamburger {
    z-index: 1;
    width: pxToRem(45);
    height: pxToRem(45);
    position: absolute;
    right: 0;

    @include tablet {
      display: none;
    }

    &-element {
      display: block;
      position: relative;
      width: pxToRem(30);
      height: pxToRem(2);
      top: pxToRem(15);
      left: pxToRem(5);
      background-color: var(--color-grey-900);

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: pxToRem(21);
        height: pxToRem(2);
        background-color: var(--color-grey-900);
        margin-left: pxToRem(9);
      }
    }
  }
}

.icon-cross {
  display: none;
}

// mobile-menu (dropmenu and items)
/*----------------------------------------------*/
.menu {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  transform: translateX(0);
  top: 0;
  z-index: 2;
  position: fixed;

  @include light-theme {
    background-color: var(--color-primary-main);
  }

  @include dark-theme {
    background-color: var(--color-primary-blue);
  }

  @include tablet {
    background-color: transparent;
    transform: none;
    visibility: visible;
    height: 100%;
    position: relative;
  }

  &__wrapper {
    position: relative;
    height: calc(100vh - 63px);
    top: pxToRem(63);
    overflow: auto;

    @include tablet {
      top: 0;
      display: flex;
      height: 100%;
      justify-content: space-between;
    }
  }

  &__list {
    overflow: hidden;

    @include max-mobile {
      padding-top: pxToRem(108);
      padding-bottom: pxToRem(108);
    }

    @include tablet {
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
      justify-content: space-between;
    }

    &:first-of-type {
      @include minmax-tablet {
        min-width: pxToRem(306);
      }

      @include desktop {
        min-width: pxToRem(435);
      }
    }

    &:last-of-type {
      @include minmax-tablet {
        min-width: pxToRem(265);
      }

      @include desktop {
        min-width: pxToRem(356);
      }
    }

    &__item {
      display: block;
      font-weight: 400;
      animation-name: fade;
      animation-timing-function: linear;

      &:first-of-type {
        animation-duration: 0.6s;
      }

      &:nth-of-type(2) {
        animation-duration: 0.7s;
      }

      &:nth-of-type(3) {
        animation-duration: 0.8s;
      }

      &:nth-of-type(4) {
        animation-duration: 0.9s;
      }

      &:last-of-type {
        &:first-child {
          @include max-mobile {
            display: none;
          }

          @include minmax-tablet {
            display: inline-flex;
            font-size: $typography-h5-font-size;
            font-weight: $typography-h2-font-weight;
          }

          @include desktop {
            font-size: $typography-subtitle2-font-size;
            font-weight: $typography-h2-font-weight;
          }
        }
      }

      &-link {
        display: flex;
        justify-content: space-around;

        @include max-mobile {
          padding-top: pxToRem(20);
          padding-bottom: pxToRem(20);
          color: var(--color-common-white);
        }

        @include minmax-tablet {
          padding: pxToRem(10);
          color: var(--color-grey-900);
          font-size: $typography-h5-font-size;
        }

        @include desktop {
          padding: pxToRem(12);
          font-size: $typography-subtitle2-font-size;
        }

        @include dark-theme {
          color: var(--color-grey-900);
        }
      }
    }
  }
}

/* RTL */
html[dir="rtl"] {
  .page-wrapper {
    &:not(:target) {
      .menu {
        transform: translateX(-100%);
      }
    }
  }

  .icon__hamburger-element {
    right: pxToRem(9);

    &::before,
    &::after {
      margin-right: pxToRem(9);
    }
  }
}

.contact-item {
  animation-name: fade;
  animation-timing-function: linear;

  @include max-mobile {
    max-height: auto;
  }

  @include minmax-tablet {
    max-height: pxToRem(33);
  }

  @include desktop {
    max-height: pxToRem(40);
  }

  &:first-child {
    animation-duration: 1s;
  }

  &:last-child {
    animation-duration: 1.1s;
  }
}
