.page-wrapper {
  // all actions connected with target
  &:not(:target) {
    overflow-x: hidden;
    .mobile-menu {
      left: 100%;
      transition: 0.6s linear;

      @include tablet {
        left: 0;
        transition: none;
      }
    }

    .menu-icon {
      animation: menu-icon-reverse linear 0.5s forwards;

      &__element {
        &:nth-child(1) {
          animation: cross2-reverse linear 0.5s;
          animation-direction: reverse;
        }

        &:nth-child(2) {
          animation: cross1-reverse linear 0.5s;
          animation-direction: reverse;
        }

        &:nth-child(3) {
          animation: cross3-reverse linear 0.5s;
          animation-direction: reverse;
        }
      }
    }
  }

  &:target {
    overflow: hidden;

    .logo {
      animation: logo linear 0.5s forwards;

      @include tablet {
        animation: none;
      }
    }

    & .mobile-menu {
      visibility: visible;
      left: 0;
      transition: 0.6s linear;

      @include tablet {
        transition: none;
      }
    }

    .close-link {
      z-index: 2;
    }

    & .menu-icon {
      animation: menu-icon linear 0.5s forwards;

      &__element {
        &:nth-child(1) {
          animation: cross2 linear 0.5s forwards;
        }

        &:nth-child(2) {
          animation: cross1 linear 0.5s forwards;
        }

        &:nth-child(3) {
          animation: cross3 linear 0.5s forwards;
        }
      }
    }
  }
}

.header {
  background-color: $color-common-white;
  width: 100%;

  // /target/ //
  &-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      gap: pxToRem(33);
    }

    @include desktop {
      gap: pxToRem(83);
    }
    // logo
    .logo-wrapper {
      @include tablet {
        width: pxToRem(49);
      }

      @include desktop {
        width: pxToRem(65);
      }

      .logo {
        z-index: 2;
        position: relative;

        @include desktop {
          width: pxToRem(65);
        }
      }
    }

    .close-link {
      z-index: 0;
      height: pxToRem(45);
      width: pxToRem(45);
      position: absolute;
      right: 0;

      @include tablet {
        display: none;
      }
    }

    .menu-icon {
      z-index: 1;
      width: pxToRem(35);
      height: pxToRem(15);

      @include tablet {
        display: none;
      }

      &__element {
        display: block;
        position: absolute;
        height: pxToRem(2);
        background-color: $color-grey-900;
        width: pxToRem(21);
        margin-left: pxToRem(9);

        &:first-child {
          margin-top: pxToRem(6);
          width: pxToRem(30);
          margin-left: pxToRem(0);
        }

        &:last-child {
          margin-top: pxToRem(12);
        }
      }
    }

    .icon-cross {
      display: none;
    }
    // mobile-menu (dropmenu and items)
    .mobile-menu {
      display: flex;
      background-color: $color-primary-main;
      visibility: hidden;
      width: 100%;
      height: 100vh;
      position: absolute;
      left: 100%;
      top: 0;
      position: fixed;

      @include tablet {
        background-color: transparent;
        visibility: visible;
        height: 100%;
        position: relative;
      }

      &-wrapper {
        position: relative;
        height: calc(100vh - 63px);
        top: pxToRem(63);
        width: 100%;
        overflow: scroll;

        @include tablet {
          top: 0;
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: space-between;
        }
      }

      &-items {
        position: static;
        padding-top: pxToRem(108);

        @include tablet {
          display: flex;
          padding-top: 0;
          background-color: transparent;
          color: $color-grey-900;
          gap: pxToRem(5);
        }

        @include desktop {
          gap: pxToRem(22);
        }

        &__link {
          display: block;
          position: relative;
          text-align: center;

          .link-name {
            padding-top: pxToRem(20);
            padding-bottom: pxToRem(20);
            display: flex;
            justify-content: space-around;
            color: $color-common-white;

            @include tablet {
              padding: pxToRem(10);
              color: $color-grey-900;
              font-weight: $typography-h5-font-weight;
              font-size: $typography-h5-font-size;
            }

            @include desktop {
              padding: pxToRem(12);
              font-size: $typography-subtitle2-font-size;
              font-weight: $typography-h5-font-weight;
            }
          }
        }
      }

      .contacts {
        display: block;
        position: sticky;
        top: calc(100vh - 59px);

        @include tablet {
          display: flex;
          align-items: center;
          gap: pxToRem(15);
        }

        @include desktop {
          gap: pxToRem(30);
        }
      }

      &-phone {
        display: none;
        position: relative;

        @include tablet {
          display: inline-flex;
          font-size: $typography-h5-font-size;
          font-weight: $typography-h2-font-weight;
        }

        @include desktop {
          font-size: $typography-subtitle2-font-size;
          font-weight: $typography-h2-font-weight;
        }

        .link-name {
          @include tablet {
            padding: pxToRem(10);
          }

          @include desktop {
            padding: pxToRem(12);
          }
        }
      }

      &-button {
        position: relative;
        display: block;
        text-align: center;
        background-color: $color-secondary-main;
        font-weight: $typography-h3-font-weight;

        @include tablet {
          background-color: $color-primary-main;
          font-size: $typography-h5-font-size;
        }

        &-name {
          display: block;
          padding-top: pxToRem(20);
          padding-bottom: pxToRem(20);
          color: $color-common-white;

          @include tablet {
            padding: pxToRem(10) pxToRem(18) pxToRem(11) pxToRem(17);
            font-weight: $typography-h5-font-weight;
          }

          @include desktop {
            font-size: $typography-subtitle2-font-size;
            font-weight: $typography-button-font-weight;
            padding-top: pxToRem(12);
            padding-bottom: pxToRem(12);
            padding-left: pxToRem(24);
            padding-right: pxToRem(24);
          }
        }
      }
    }
  }
}
